.container{
    margin: 0;
    margin-top: 10px;
    width: 100vw;
    height: 100vh;
    

}
#game{
    
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
 
    
}

.card{
    border: solid 1px;
    border-radius: 0.5rem;
    width: 7.5rem;
    height: 11.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: white;
    align-self: center;
    
    
    


}
.row{
    display: flex;
    align-items: center;
}


.card img{

    width: 5rem;
    height: 7rem;
        
}
.break {
    flex-basis: 100%;
    height: 0;
  }
